.table__container {
  display: flex;
  position: relative;
  height: 290px;

  @include medium {
    height: 490px;
  }
}

.table--scroll-x,
.table--sticky-scroll {
  width: 100%;
  overflow-x: scroll;
}

.table-col__header {
  position: sticky;
  z-index: 3;
  top: 0;
}

// This is to fix a weird bug in FF to
// show a bottom border for the table th
.row__header {
  @include medium {
    transform: scale(0.9);
  }
}

.table-cell {
  white-space: nowrap;
}

.table-cell:last-child {
  width: 50px;
  padding: 0;
  justify-items: end;
}

th.col-header--sticky:first-child {
  @include medium {
    position: sticky;
    z-index: 2;
    left: 0;
  }
}
