.table__wrapper {
  position: relative;
}

.scrollable {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.scrollable--sticky {
  padding-left: 200px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.data-table .sticky:nth-of-type(1) {
  position: absolute;
  top: auto;
  left: 0;
  width: 200px;
  height: 49px;
  // border-right: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

.table__header-row {
  white-space: nowrap;
}

.table__row .cell {
  background-color: #fff;
}
